@tailwind base;
@tailwind components;
@tailwind utilities;

/* 添加一些基础字体优化 */
body {
  background-color: #f8fafc; /* 浅灰背景，护眼 */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}